$color_grey:#afadad;
$color_grey-light : #f4f4f4;
$color_white: rgb(255, 255, 255);
$color_green : rgb(141, 236, 122);
$color_green-dark : rgb(24, 110, 7);
$color_red: rgb(180, 50, 40);
$color_black : rgb(0,0,0);
$color_blue-light:rgb(73, 173, 180);
$color_blue-dark:rgb(57, 91, 241);
$color_orange-light : rgb(248, 197, 101);
$color_orange-dark :rgb(243, 105, 50);

//for GRID<!......................................!> 

$gutter-horizontal :6rem;
$gutter-vertical : 8rem;



// FOR GRID>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>